.match-navigation_container {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    border-radius: 5px;
    background-color: $background-3;
    box-shadow: 0 1px 4px black;

    .tab{
        padding:14px 0;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        color:white;
        &:hover{
            background-color: $background-2;
        }
    }
    .selected{
        border-bottom: solid 2px white;
    }

}