.match-header {
    width: 100%;
    margin: 10px 0;
    box-shadow: 0 1px 4px black;
    border-radius: 5px;
    background-color: $background-3;


    .league-name {
        width: 100%;
        font-size: 16px;
        text-align: center;
        padding-top: 5px;
        color: rgba(255, 255, 255, 0.548)
    }

    .header-top {
        @include flex_config(flex, row, space-evenly, flex-start, 0);
        padding: 8px 0;
        color: white;
        width: 100%;

        .team {
            @include flex_config(flex, column, center, center, 5px);
            width: 33%;

            .name {
                text-align: center;
                font-size: 17px
            }

        }

        .score-container {
            @include flex_config(flex, column, center, center, 5px);
            width: 33%;

            .score span {
                font-size: 35px;
            }

            .status {
                padding: 2px 4px;
                border-radius: 4px;
                background-color: rgb(66, 66, 66);
                color: white;
                font-size: 14px;

            }
        }
    }

    .header-bottom {
        @include flex_config(flex, column, space-between, normal, 0);
        width: 100%;
        font-size: 12px;
        padding: 5px 0;

        // border-top: solid 1px rgb(22 27 30);

        .detail {
            @include flex_config(flex, row, space-between, center, 0px);

            margin: 1px 0;
            padding: 1px 0;
        }

        .player {
            @include flex_config(flex, row, center, center, 0);

            width: 45%;
            padding: 1px 0;

            color: rgb(199, 199, 199);

            .icon {
                margin-right: 4px;
            }
        }

        .minute {
            padding: 1px 0;

            text-align: center;
            color: rgb(214, 214, 214);
            width: 10%
        }

        .box {
            height: 100%;
            width: 45%;
        }

        .player,
        .minute {
            background-color: $background-2;
        }

    }
}

