.leagues-names_container{

    @include flex_config(flex,row,center,center,7px);
    flex-wrap: wrap;
    width:40%;
    margin-bottom:10px;
    .league-name{
        background-color: $background-3;
        cursor: pointer;
        border-radius: 5px;
        font-size: 15px;
        padding:5px;
        transition: all 0.2s;
        border:solid 2px $background-4;
    }
    .selected{
        color:$background-2;
        border:solid 2px $background-4;
        background-color: rgb(217, 230, 255);
    }

}

@media screen and (max-width:800px){

    .leagues-names_container{
        width:97%;
    }
}