.league_container {
    @include flex_config(flex, column, center, center, 0);
    width:100%;
    margin-bottom: 50px;
    .header{
        @include flex_config(flex, row, center, center, 0);
        width: 100%;
        padding:10px 0;
        color:white;
    }



    
    .content{
        @include flex_config(flex, row, space-between, flex-start, 20px);
        width:98%;
        // flex-wrap: wrap;
    
        .tables {
            @include flex_config(flex, column, center, center, 20px);    
            width:70%;
            flex-wrap: wrap;
            // max-width: max-content;
            .table{width:100%}
        }
        .container{
            
            min-width: 30%;

        }
        
        .events{
             @include flex_config(flex, row, center, center, 0);
             width:100%;
             margin-top: 25px;
             background-color: royalblue;
        
        
        }
    }

}





@media screen and  (max-width:800px){

    .content{
        justify-content: center;
        flex-wrap: wrap;

        .tables{
            flex-wrap: wrap;
            width: 100% !important;
            .table{
                width:max-content
            }
            
        }
        .container{
            min-width: unset;
            width:-webkit-fill-available;
        }
        .events{
            width: 100%;
        }
    }
}







