

// $background-1:#131a21;
// $background-3:#222d3b;
// $background-2:#1a242e;


/*
saturate( $base-color, 20% )
desaturate( $base-color, 20% )

darken( $base-color, 10% )
lighten( $base-color, 10% )
*/

$base_color:rgb(61, 109, 197);

// $base_color:rgb(110, 110, 110);

$background-1:darken($base-color,33%);
$background-2:darken($base-color,28%);
$background-3:darken($base-color,22%);
$background-4:darken($base-color,3%);




$color-1:rgb(255, 255, 255);
$color-2:rgb(238, 238, 238);