

// $background-1:#131a21;
// $background-3:#222d3b;
// $background-2:#1a242e;


/*
saturate( $base-color, 20% )
desaturate( $base-color, 20% )

darken( $base-color, 10% )
lighten( $base-color, 10% )
*/

$base_color:rgb(70, 115, 167);

// $base_color:rgb(81, 61, 172);

// $base_color:rgb(61, 122, 172);


$background-1:darken($base-color,33%);
$background-2:darken($base-color,28%);
$background-3:darken($base-color,22%);
$background-4:darken($base-color,3%);
$background-5:darken($base-color,19%);
$background-6:darken($base-color,11%);
$background-7:lighten($base-color,30%);




$color-1:rgb(255, 255, 255);
$color-2:rgb(238, 238, 238);