.home_container{    
    // @include flex_config(flex,column,center,center,0);
    @include flex_config(flex,column,center,center,10px);

    flex-wrap:wrap;
    margin-bottom:50px;
    color:$color_2;
    
}

