.match_container {
    @include flex_config(flex, column, center, center, 0);
    margin: 0 auto;
    width: 50%;
}

@media screen and (max-width:800px) {
    .match_container {
        width: 98%;
    }
}