.navigation_container{
    @include flex_config(flex,column,center,center,0);
    width:100%;
    margin-bottom: 10px;
    position: sticky;
    top:0;

}

.navigation_main{
    @include flex_config(flex,row,space-between,center,0);
    width: 40%;
    border-radius: 5px;
    background-color: $background-3;
    box-shadow: 0 1px 4px black;
    
    div{
        @include flex_config(flex,row,center,center,0);
        cursor: pointer;
        min-height: 40px;
        color:white;
        font-size: 15px;
        width:33.33%;
        transition: all 0.2s;
        &:hover{
            background-color: $background-2;
        }
    }
    .center{
        border-bottom: solid 2px rgba(255, 255, 255, 0.719);
    }
    
}

.navigation_date-input{
    @include flex_config(none,row,center,center,6px);
    width:40%;
    
    padding:12px 0;
    input{
        width:25%;
        padding:5px;
        border-radius: 5px;
        text-align: center;
        cursor:pointer;
        border:0;
        
        color:white !important;
        font-size: 17px;   
        outline:none;
    }
    .date-btn{
        background-color: #334459;
        border:0;
        cursor:pointer;
        color:white;
        width: 24%;
        padding:8px 0;
        border-radius: 5px;
    }
}

@media screen and (max-width:800px){
    .navigation_main{
        
        width:100%;
        div{
            font-size: 14px;
        }
        div:hover{
            background-color: unset;

        }
        
    }  
    .arrow:hover{
        background-color: unset;
    }  
}