.event-card_container {

    @include flex_config(flex, column, center, center, 0);
    width: -webkit-fill-available;
    padding: 5px;
    margin: 0 7px 7px 7px;
    border-radius: 3px;
    border:solid 1px  $background-6;
    background-color: $background-2;

    &:hover {
        transition: all 0.2s;
        background-color: $background-1;
        cursor: pointer
    }


    .match-container {
        @include flex_config(flex, row, space-between, center, 5px);
        width: -webkit-fill-available;


        // margin:0 5px;
        // padding:5px;
        // border-radius: 5px;
    }


    .team {
        @include flex_config(flex, column, center, center, 0);
        width: 40%;

        .team-info {
            @include flex_config(flex, column, center, center, 5px);

        }

        .team-name {
            text-align: center;

        }

    }

    .score-container {

        .score {
            @include flex_config(flex, row, center, unset, 10px);

            margin-top: 10px;
            font-size: 30px;
            .winner{
                color:#8cffd1;
            }
        }
        .shootout{
            text-align: center;
        }

        .status {
            margin: 2px auto;
            background-color: rgb(20, 20, 20);
            color:rgb(231, 231, 231);
            width: max-content;
            padding: 2px 4px;
            border-radius: 4px;
            font-size: 15px;
        }

        .playing {
            background-color: rgb(163, 0, 0);
        }
    }
}


@media screen and (max-width:800px) {
    .team-name {
        font-size: 14px;
    }
}