.comments_container{
    
    @include flex_config(flex,column-reverse,flex-start,center,7px);
    width:100%;
    color:#e7e7e7;
    margin: 20px 0;
    
    .comment_box{
        @include flex_config(flex,row,flex-start,center,10px);
        width:-webkit-fill-available;
        background-color: $background-3;
        border-radius: 4px;
        padding:7px ;
        .minute{
            font-size: 25px;
        }
        .comment{
            font-size: 15px;
        }
    }

}


