.match-sections_container {
    width: 100%;
    margin-bottom: 70px;

    .match-sections_navigation {
        @include flex_config(flex, row, unset, center, 0);

        width: 100%;
        margin: 0 auto;

        bottom: 0;
        border-radius: 5px;
        background-color: $background-3;
        box-shadow: 0 0 10px black;
        overflow-x: auto;


        .tab {
            padding: 10px 5px;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            color: white;
            width: 100%;
            min-width: 100px;
            border-bottom: solid 2px transparent;
            background-color: $background-3;

            &:hover {
                background-color: $background-2;
            }
        }

        .selected {
            transition: 0.2s;
            // background-color: $background-2 !important;
            border-color: white;

        }
    }
}


.switch-container {

    @include flex_config(flex, row, center, center, 0);
    padding: 10px 0 3px 0;
    width: 100%;

    .switch {
        @include flex_config(flex, row, center, center, 0px);

        width: max-content;
        color: $background-4;
        background-color: $background-1;

        .element {
            cursor: pointer;
            padding: 10px;
            border: solid 1px $background-4;

        }

        .selected {
            background-color: $background-4;
            color: white;
        }
    }
}

.commentary_container {

    @include flex_config(flex, column-reverse, flex-start, center, 7px);
    width: 100%;
    margin: 10px 0 100px 0;
    // color:#dbdbdb;
    // color:$background-3;

    .comment_box {
        @include flex_config(flex, row, flex-start, center, 10px);
        width: -webkit-fill-available;

        background-color: $background-2;
        border: solid 2px $background-4;
        color: #dbdbdb;
        border-radius: 4px;
        padding: 7px;

        .minute {
            font-size: 22px;
        }

        .comment {
            font-size: 15px;
        }
    }

}


.info_container{
    @include flex_config(flex,column,center,center,14px);
    margin:20px 0;
    color:rgb(238, 238, 238);
    .info_box{
        text-align: center;
        .data{
            font-size: 17px;
        }

        .name{
            color:rgb(160, 160, 160);
            font-size: 15px;
        }
    }
}


@media screen and (max-width:800px) {


    .match-sections_container .match-sections_navigation .tab {
        padding: 18px 5px;
    }

    .match-sections_container .match-sections_navigation {
        position: fixed;
        left: 0;
        right: 0;

        .tab{
            
            border-bottom: 0;
            border-top: solid 2px transparent;
            
        }
        .selected{
            border-color: white;
        }
    }

    .match-sections_container .match-sections_navigation .tab:hover {
        background-color: unset;
    }

    .match-sections_navigation {
        width: 100% !important;
        border-radius: 0px !important;
    }

}