.match-sections_container {
    width: 100%;
    margin-bottom: 50px;

    .match-sections_navigation {
        @include flex_config(flex, row, unset, center, 0);
        position: relative;
        z-index: 13;
        width: 100%;
        margin: 0 auto;

        bottom: 0;
        // border-radius: 5px;
        background-color: $background-3;
        box-shadow: 0 1px 4px black;
        overflow-x: auto;


        .tab {
            padding: 10px;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            color: $background-7;
            width: 100%;
            border-bottom: solid 2px transparent;
            background-color: $background-3;
            transition: 0.2s;

            &:hover {
                background-color: $background-2;
            }
        }

        .selected {

            // background-color: $background-2 !important;
            color: white;
            border-color: white;

        }
    }
}


.commentary_container {

    @include flex_config(flex, column-reverse, flex-start, center, 7px);
    width: 100%;
    margin: 10px 0 100px 0;
    // color:#dbdbdb;
    // color:$background-3;

    .comment_box {
        @include flex_config(flex, row, flex-start, center, 10px);
        width: -webkit-fill-available;

        background-color: $background-2;
        border: solid 2px $background-3;
        // box-shadow: 0 1px 4px black;
        color: #dbdbdb;
        border-radius: 2px;
        padding: 7px;

        .minute {
            font-size: 22px;
        }

        .comment {
            font-size: 15px;
        }
    }

}


.info_container {
    @include flex_config(flex, column, center, center, 30px);
    margin-top: 12px;
    color: rgb(238, 238, 238);

    .info {
        @include flex_config(flex, column, center, center, 10px);
        width: 100%;
        padding: 5px 0;
        // background-color: $background-3;
        // box-shadow: 0 1px 4px black;


        .info_box {
            text-align: center;

            .data {
                
                width:100%;
                font-size: 16px;
            }

            .name {
                color: rgb(180, 180, 180);
                font-size: 13px;
            }
        }

    }


    .penalties {
        @include flex_config(flex, column, center, center, 0px);
        width: 70%;
        // background-color: $background-3;
        // box-shadow: 0 1px 4px black;
        // padding: 5px 0 10px 0;

        .title {
           margin:0 auto;    
           
        }

        .teams{
            @include flex_config(flex, row, space-between, center,10px);
            width:100%;
            .team{
                margin-bottom: 7px
            }
        }

        .shootout-container {
            @include flex_config(flex, row, space-between, baseline,10px);
            width: 100%;
            font-size: 13px;

            .shoot {
                @include flex_config(flex, row, left, center, 7px);

                .circle {
                    width: 10px;
                    height: 10px;
                    border-radius: 7px;
                }

                .shot-number {
                    color: rgb(255, 255, 255)
                }
            }
        }

        .title {
            font-size: 20px
        }

    }

    .history{
        @include flex_config(flex, column, center, center, 20px);
        width:70%;

        .history-container{
            @include flex_config(flex, column, center, center, 2px);
            width:100%;
            
            
            .match{
                @include flex_config(flex, column, center, center, 0px);
                width:100%;
                background-color: $background-2;
                padding:2px 0;
                cursor: pointer;
                transition: 0.2s;
                .header{
                    color:#b1b1b1;
                    font-size: 14px;
                }
                &:hover{
                    background-color: $background-3;
                }
            }
            .container{
                @include flex_config(flex, row, center, center, 15px);
                width:100%;
                padding:5px 0;
                .team{
                    min-width: 40%;
                    @include flex_config(flex, row, center, center, 5px);
                    font-size: 15px;
                    
                    
                }
                .home{
                    text-align: right;
                    justify-content: end; 
                }
                .away{
                    text-align: left;
                    justify-content: start;  
                }

                .score{
                    min-width:max-content;
                    text-align: center;
                    font-size:26px;
                    font-weight: bold;
                    .dash{margin:0 4px}
                    // background-color: red
                }
            }
        }
        
    }


    .last-games {
        @include flex_config(flex, column, center, center, 7px);
        width: 70%;
        // background-color: black;

        .teams-container {
            @include flex_config(flex, column, center, center, 7px);
            // background-color: rgb(22, 22, 22);
            width: 100%;

            .team {
                @include flex_config(flex, column, center, center, 10px);
                width: 100%;

                .info {
                    @include flex_config(flex, row, center, center, 10px);
                    font-size: 17px
                }

                .games {
                    @include flex_config(flex, column, center, center, 2px);
                    width: 100%;
                    margin: auto
                }

                .game {
                    @include flex_config(flex, row, space-between, center, 10px);
                    width:98%;
                    background-color: $background-2;
                    cursor: pointer;
                    transition: 0.2s;
                    padding:2px 5px;

                    .left {
                        @include flex_config(flex, column, space-between, start, 0px);
                        padding-bottom: 2px;
                    }

                    .top {
                        @include flex_config(flex, row, space-between, center, 10px);
                        font-size: 11px
                    }

                    .bottom {
                        @include flex_config(flex, row, start, center, 8px);
                        width: 100%;
                        padding:3px 0
                    }

                    .right {
                        font-size: 21px;
                        width: 40px;
                        font-weight: 600;
                    }

                    .date {
                        font-size: 14px;
                    }

                    .title {
                        font-size: 13px;
                        color: rgb(172, 172, 172)
                    }

                    .opponent {
                        font-size: 15px;
                    }

                    .lost {
                        color: rgb(255, 32, 32)
                    }

                    .tie {
                        color: rgb(255, 255, 15)
                    }

                    .win {
                        color: rgb(37, 255, 37)
                    }


                    &:hover{
                        background-color: $background-3;
                    }
                }

            }

        }

    }

}


.tables_container {
    @include flex_config(flex, column, center, center, 0);
    margin: auto;
    width: 100%;
    color: rgb(207, 207, 207);

    .title {
        margin: 10px 0;
    }

    &>div {
        width: 100%;
        margin-bottom: 20px;

        h3 {
            text-align: center;
        }
    }


    table {
        width: 100%;

        th {
            padding: 5px 0;
            background-color: rgb(22, 22, 22);
        }

        tr {
            background-color: $background-2;
        }

        td {
            text-align: center;
            font-size: 15px;
            padding: 7px 1px;
        }

        .highlight {
            background-color: $background-6
        }
    }



    .team {
        @include flex_config(flex, row, start, center, 5px);
        text-align: left;
        font-size: 15px;
        margin-left: 3px;
    }

    .bold {
        font-weight: bold;
    }
}


.lineups_container {

    @include flex_config(flex, column, center, center, 10px);
    margin: 0 auto;

    width: 100%;

    .switch-container {

        @include flex_config(flex, row, center, center, 0);
        padding: 10px 0 3px 0;
        width: 100%;

        .switch {
            @include flex_config(flex, row, center, center, 0px);

            width: max-content;
            color: $background-4;
            background-color: $background-1;

            .element {
                @include flex_config(flex, row, center, center, 5px);
                cursor: pointer;
                padding: 7px 9px;
                border: solid 1px $background-4;

            }

            .selected {
                background-color: $background-4;
                color: white;
            }
        }
    }

    .teams-container {

        width: 100%;
    }

    .team {
        @include flex_config(flex, row, center, baseline, 25px);
    }

    .players {
        @include flex_config(flex, column, center, center, 7px);
        width: 100%;
        color: white;
        margin-bottom: 20px;


        .player {
            @include flex_config(flex, row, start, center, 8px);

            .container {
                position: relative;
                width: 12%;

                .pos-display {

                    display: none;
                    position: absolute;
                    top: -25px;
                    left: 5px;
                    text-align: center;
                    width: max-content;
                    font-size: 13px;
                    padding: 4px;
                    border-radius: 2px;
                    background-color: rgba(0, 0, 0, 0.808);
                    box-shadow: 0 0 5px black;
                    z-index: 10;

                }

                .position {
                    cursor: default;
                    z-index: 9;
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    background-color: $background-3;
                    padding: 5px 0;
                    font-size: 14px
                }
            }

            .jersey {
                width: 8%;
                text-align: center;
                background-color: $background-4;
                padding: 3px 0;
                font-size: 18px
            }

            .name {
                width: max-content;
                text-align: left;
                font-size: 14px;
            }

            .plays {
                @include flex_config(flex, row, center, center, 6px);

                .play {
                    @include flex_config(flex, row, center, center, 3px);
                    font-size: 13px;
                    color: rgb(160, 160, 160)
                }
            }

            width:100%;
            background-color: $background-2;
            padding:5px;
        }
    }


}


.videos_container {
    @include flex_config(flex, column, center, center, 4px);

    .video {
        margin: 20px 0;

        .video-title {
            text-align: center;
            color: rgb(241, 241, 241);
            margin-bottom: 5px;
            font-size: 19px;
        }

        .video-description {

            color: rgb(209, 209, 209);
            font-size: 13px;
            padding: 0 3px;
            margin-bottom: 5px;
        }

        .video-tag {
            width: 100%;
        }
    }
}

@media screen and (max-width:800px) {


    .match-sections_container .match-sections_navigation .tab {
        padding: 18px 20px;
    }

    .match-sections_container .match-sections_navigation {
        position: fixed;
        left: 0;
        right: 0;

        .tab {

            border-bottom: 0;
            border-top: solid 2px transparent;

        }

        .selected {
            border-color: white;
        }
    }

    .match-sections_container .match-sections_navigation .tab:hover {
        background-color: unset;
    }

    .match-sections_navigation {
        width: 100% !important;
        border-radius: 0px !important;
    }

    .info_container {
        margin-top: 5px;
        margin-bottom: 50px;

        .last-games {
            width: 100%;
        }
        .penalties{
            width:100%
        }
        .history{
            width:100%
        }
    }

    .table_container {

        table {

            td {
                padding: 7px 0;

            }

            th {
                padding: 5px 0;
            }

            td {
                font-size: 12px
            }
        }


    }

    .videos_container {
        .video {
            margin-top: 0px
        }
    }

    .lineups_container {



        width: 98%;

        .player .name {
            font-size: 13px !important;
        }

        .team {
            @include flex_config(flex, column, center, center, 0);
        }

    }



}